<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>OBS Music Overlay</title>
    <link rel="stylesheet" href="/static/css/common.css?v=5.0">
    <link id="theme-css" rel="stylesheet" href="/static/css/themes/{{THEME}}.css?v=5.0">
    <style>
        html, body {
            background-color: transparent !important;
            margin: 0;
            padding: 0;
            overflow: hidden;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>
<body>
    <div id="overlay-scaler">
        <div id="overlay-container" class="theme-{{THEME}}">
            {{INITIAL_TEMPLATE}}
        </div>
    </div>
    <script src="/static/js/overlay.js?v=5.0"></script>
</body>
</html>
