<div class="widget-card" id="widget-card">
                <div class="island-left">
                    <img class="cover-art" id="cover-img" src="${DEFAULT_COVER}" alt="">
                </div>
                <div class="info-box island-center">
                    <div class="marquee-wrapper" id="title-wrapper">
                        <div class="marquee-content track-title" id="track-title">Waiting for music...</div>
                    </div>
                    <div class="artist-name" id="artist-name">No active playback</div>
                    <div class="progress-section">
                        <div class="progress-bar-container">
                            <div class="progress-bar-fill" id="progress-fill"></div>
                        </div>
                    </div>
                </div>
                <div class="island-right">
                    <div class="sound-bars">
                        <span></span><span></span><span></span><span></span><span></span>
                    </div>
                    <div class="time-display" id="time-display">00:00</div>
                </div>
            </div>
